*{
    box-sizing: border-box;
    margin: 0px ;
    padding: 0px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}
.container{
    height: 90vh;
    width: 90vw;
    border: 5px solid #29343D;
    display: flex;
    margin-top: 34px;
}
.col-1{
    width: 16%;
    height: 100%;
}
.col-2{
    width: 55%;
    height: 100%;
}
.col-3{
    width: 32%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.box-S{
    height: 25%;
    width: 100%;
    border: 5px solid #29343D;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right top, #FEEDAC, #FB7EB3);
}
.up-M{
    height: 50%;
    width: 100%;
}
.down-M{
    height: 50%;
    width: 100%;
}
.bot-M1{
    height: 50%;
    width: 100%;
    display: flex;
}
.bot-M2{
    height: 50%;
    width: 100%;
    display: flex;
}
.box-M{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #29343D;
    background: linear-gradient(to right top, #FEE6AC, #FB7EB3);
}
.med-R1{
    border: 5px solid #29343D;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right top, #71C2FB, #79EBE0);
}
.med-R2{
    border: 5px solid #29343D;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right top, #79EBE0, #71C2FB);
}
.box-L1{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 5px #29343D;
    background: linear-gradient(to right top, #CCABFB, #FB7EF6);
}
.box-L2{
    width: 100%;
    height: 50%;
    border: 5px solid #29343D;
    display: flex;
}
.box-Left{
    width: 32%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 5px solid #29343D;
}
.box-R{
    width: 73%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 5px solid #29343D;
    background: linear-gradient(to right top, #FB7EF6, #CCABFB);
}
.box-Left1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #29343D;
    background: linear-gradient(to right top, #FEE6AC, #FB7EB3);
}
.box-Left2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 5px solid #29343D;
    background: linear-gradient(to right top, #FEE6AC, #FB7EB3);
}
.fa-solid{
    color: white;
}
.bar{
    width:2px; 
    height:4px; 
    background-color: rgb(146, 145, 145); 
    position: absolute;
}