*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.has-children{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    gap: 7px;
}
li{
    border: 2px solid black;
    height: 30px;
    width: 130px;
    list-style-type: none;
    font-size: 24px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}